<head>
    <title>Equipos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<%- include ('layouts/dashboard.ejs') %>
        <div class="container mt-5">      
                <div class="col-md-20">  
                    <h1>Equipos</h1>
                    <!-- Botón para mostrar el modal de inserción -->
                    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modalInsertar">
                        <i class="bi bi-plus-circle-fill"></i>
                        Insertar Equipos
                    </button><br>
                </div>
            <div class="col-md-20">
            <h1> </h1>
                <br><table class="table" >
                    <thead class="custom-table table-striped" >
                        <tr>
                            <th>Folio Telmex</th>
                            <th>Numero de Serie</th>
                            <th>Nombre de la Marca</th>
                            <th>Tipo de Equipo</th>
                            <th>Modelo</th>
                            <th>RAM</th>
                            <th>Velocidad</th>
                            <th>Disco Duro</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                        <% if (Array.isArray(results) && results.length > 0) { %>
                            <tbody>
                                <% results.forEach((equipos) => { %>
                                    <tr>
                                        <td><%= equipos.equiposFolio %></td>
                                        <td><%= equipos.equiposSerie %></td>
                                        <td><%= equipos.marcaNombre %></td>
                                        <td><%= equipos.tipoEquipoNombre %></td>
                                        <td><%= equipos.equiposmodelo %></td>
                                        <td><%= equipos.equiposRAM %></td>
                                        <td><%= equipos.equiposVelocidad %></td>
                                        <td><%= equipos.equiposDiscoDuro %></td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#myModal" 
                                            data-folio="<%= equipos.equiposFolio %>" 
                                            data-serie="<%= equipos.equiposSerie %>"
                                            data-marca="<%= equipos.marcaId %>" 
                                            data-tipo="<%= equipos.tipoEquipoId %>" 
                                            data-modelo="<%= equipos.equiposmodelo %>"
                                            data-ram="<%= equipos.equiposRAM %>"
                                            data-velo="<%= equipos.equiposVelocidad %>"
                                            data-disco="<%= equipos.equiposDiscoDuro %>"
                                            class="update-btn btn btn-warning"><i class="bi bi-pencil-square"></i>  Editar</button>
                                        </td>
                                        <td>
                                            <a href="#" data-folio="<%= equipos.equiposFolio %>" class="eliminar-btn btn btn-danger"><i class="bi bi-trash3-fill"></i>  Eliminar</a>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                            
                        <% } else { %>
                            <tbody>
                                <tr>
                                    <td colspan="10">No hay resultados disponibles</td>
                                </tr>
                            </tbody>
                        <% } %>                        
                </table>
            </div>                 
        </div>


        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Personal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="modal-form" action="/updateEquipos/:id" method="POST">
                            <input type="text" class="form-control" name="folio" id="folio" placeholder="Ingrese el folio telmex del equipo"  maxlength="8" oninput="this.value = this.value.toUpperCase()" required><br>
                            <input type="text" class="form-control" name="serie" id="serie" placeholder="Ingrese el numero de serie del equipo"  maxlength="16" oninput="this.value = this.value.toUpperCase()" required><br>
                            <select name="marcaM" id="marcaM" class="form-control" required>
                                <option selected>Seleccione la marca del equipo</option>
                            </select><br>
                            <select name="tipoM" id="tipoM" class="form-control" required>
                                <option selected>Seleccione el tipo de equipo</option>
                            </select><br>
                            <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Ingrese el modelo del equipo" required><br>
                            <input type="text" class="form-control" name="ram" id="ram" placeholder="Ingrese la RAM del equipo (Si no se conoce colocar N/A)" required><br>
                            <input type="text" class="form-control" name="velocidad" id="velocidad" placeholder="Ingrese la Velocidad del equipo (Si no se conoce colocar N/A)" required><br>
                            <input type="text" class="form-control" name="disco" id="disco" placeholder="Ingrese la Disco Duro del equipo (Si no se conoce colocar N/A)" required><br>
                            <button type="submit" class="btn btn-primary btn-sm pull-right">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de inserción -->
        <div class="modal fade" id="modalInsertar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Insertar Personal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario de inserción -->
                        <form id="formInsertar" action="/lugarS" method="POST">
                            <input type="text" class="form-control mb-3" name="folio" placeholder="Ingrese el folio telmex del equipo"  maxlength="8" oninput="this.value = this.value.toUpperCase()" required>
                            <input type="text" class="form-control mb-3" name="serie" placeholder="Ingrese el numero de serie del equipo"  maxlength="16" oninput="this.value = this.value.toUpperCase()" required>
                            <select name="marca" id="marca" class="form-control mb-3" required>
                                <option selected>Seleccione la marca del equipo</option>
                            </select>
                            <select name="tipo" id="tipo" class="form-control mb-3" required>
                                <option selected>Seleccione el tipo de equipo</option>
                            </select>
                            <input type="text" class="form-control mb-3" name="modelo" placeholder="Ingrese el modelo del equipo" required>
                            <input type="text" class="form-control mb-3" name="ram" placeholder="Ingrese la RAM del equipo (Si no se conoce colocar N/A)" required>
                            <input type="text" class="form-control mb-3" name="velocidad" placeholder="Ingrese la Velocidad del equipo (Si no se conoce colocar N/A)" required>
                            <input type="text" class="form-control mb-3" name="disco" placeholder="Ingrese la Disco Duro del equipo (Si no se conoce colocar N/A)" required>
                            <input type="submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
          
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> 
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="resources/lib/chart/chart.min.js"></script>
<script src="resources/lib/easing/easing.min.js"></script>
<script src="resources/lib/waypoints/waypoints.min.js"></script>
<script src="resources/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="resources/lib/tempusdominus/js/moment.min.js"></script>
<script src="resources/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="resources/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="resources/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    window.onload = () => {
        fetch('/equiposJ/marcas')
            .then(response => response.json())
            .then(data => {
                const selectMarca = document.getElementById('marca');
                data.forEach(marca => {
                    const option = document.createElement('option');
                    option.value = marca.marcaId;
                    option.textContent = marca.marcaNombre;
                    selectMarca.appendChild(option);
                });
            })
            .catch(error => console.error('Error al obtener marcas: ', error));

        fetch('/equiposJ/tipo')
            .then(response => response.json())
            .then(data => {
                const selectTipo = document.getElementById('tipo');
                data.forEach(tipoEquipo => {
                    const option = document.createElement('option');
                    option.value = tipoEquipo.tipoEquipoId;
                    option.textContent = tipoEquipo.tipoEquipoNombre;
                    selectTipo.appendChild(option);
                });
            })
            .catch(error => console.error('Error al obtener los tipos: ', error));
        fetch('/equiposJ/marcasM')
            .then(response => response.json())
            .then(data => {
                const selectMarca = document.getElementById('marcaM');
                data.forEach(marca => {
                    const option = document.createElement('option');
                    option.value = marca.marcaId;
                    option.textContent = marca.marcaNombre;
                    selectMarca.appendChild(option);
                });
            })
            .catch(error => console.error('Error al obtener marcas: ', error));

        fetch('/equiposJ/tipoM')
            .then(response => response.json())
            .then(data => {
                const selectTipo = document.getElementById('tipoM');
                data.forEach(tipoEquipo => {
                    const option = document.createElement('option');
                    option.value = tipoEquipo.tipoEquipoId;
                    option.textContent = tipoEquipo.tipoEquipoNombre;
                    selectTipo.appendChild(option);
                });
            })
            .catch(error => console.error('Error al obtener los tipos: ', error));
    };
</script>

<script>
    $(function(){
        // Captura el envío del formulario de inserción y envía los datos al servidor
        $('#formInsertar').on('submit', function(event) {
            event.preventDefault();
            const formData = $(this).serialize();
            
            $.ajax({
                url: '/insertarEquipos', // Ruta del servidor para manejar la inserción
                method: 'POST',
                data: formData,
                success: function(response) {
                    // Si la inserción es exitosa, recarga la página para mostrar los cambios
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    console.log('Error al insertar el lugar:', error);
                    // Muestra un mensaje de error al usuario
                    alert('Ocurrió un error al insertar el lugar');
                }
            });
        });
    });
</script>

    <% if (typeof alert != "undefined")  { %>
    <script>
        Swal.fire({
            title:'<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location='/<%= ruta %>'
        })

    </script>
    <% } %>

    <!-- Eliminar -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% results.forEach((equipos) => { %>
        <script>
            document.querySelectorAll('.eliminar-btn').forEach(btn => {
                btn.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
                    const id = this.getAttribute('data-folio');
        
                    // Mostrar la alerta SweetAlert para confirmar la eliminación
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: 'Esta acción eliminará el registro permanentemente.',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Sí, eliminar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Si el usuario confirma la eliminación, enviar una solicitud al servidor para eliminar el elemento
                            fetch(`/deleteEquipos/${id}`, {
                                method: 'GET'
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Error al eliminar el equipo');
                                }
                                return response.json();
                            })
                            .then(data => {
                                // Si la eliminación es exitosa, recargar la página para mostrar los cambios
                                window.location.reload();
                            })
                            .catch(error => {
                                console.error('Error al eliminar al equipo:', error);
                                console.log(error);
                                // Mostrar un mensaje de error al usuario
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Ocurrió un error al eliminar al personal',
                                    icon: 'error',
                                    confirmButtonText: 'Aceptar'
                                });
                            });
                        }
                    });
                });
            });
        </script>
        
    <% }) %>

    <script>
        $(function(){
            $('[data-toggle="tooltip"]').tooltip({
                Template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
            })
    
            $(document).on('click', '.update-btn', function(){
                const $this = $(this);
                const folio = $this.attr('data-folio');
                const serie = $this.attr('data-serie');
                const marcaM = $this.attr('data-marca');
                const tipoM = $this.attr('data-tipo');
                const modelo = $this.attr('data-modelo');
                const ram = $this.attr('data-ram');
                const velo = $this.attr('data-velo');
                const disco = $this.attr('data-disco');
                
                // Asigna los valores a los campos del formulario en el modal
                $('#folio').val(folio);
                $('#serie').val(serie);
                $('#marcaM').val(marcaM);
                $('#tipoM').val(tipoM);
                $('#modelo').val(modelo);
                $('#ram').val(ram);
                $('#velocidad').val(velo);
                $('#disco').val(disco);
                
                // Muestra el modal
                $('#myModal').modal('show');
            });
    
            // Captura el envío del formulario y envía los datos al servidor
            $('#modal-form').on('submit', function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                
                $.ajax({
                    url: '/updateEquipos/:folio',
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        // Si la actualización es exitosa, recarga la página para mostrar los cambios
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.log('Error al actualizar el Equipo:', error);
                        // Muestra un mensaje de error al usuario
                        //alert('Ocurrió un error al actualizar el Equipo');
                    }
                });
            });
        });
    </script>
<%- include ('../Sesion.ejs') %>
</body>
</html>